h1, h2 {
    color: #004466;
    font-family: "Rubik Bubbles", system-ui;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #83e2ff;
}
